.textarea {
  background: #fff;
}
.text-editor {
  float: left;
  display: block;
  width: 100%;
}

.dragitems {
  width: 20%; float: left;
  background: #f1f1f1;
}

.dropitems {
  width: 40%;
  float: left;
  background: #f1f1f1;
  margin-left: 20px;padding:5px 5px 5px 5px;
}

.dragitems ul {
  list-style-type: none;
  display: block;
}

.dragitems li {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  font-size: 26px;
  font-family: SharpSansNo2SemiBold,Helvetica Neue,Helvetica,sans-serif!important;
  background-color: #0585CC;
  cursor: pointer;
  display: block;
  float: left;
  text-align: center;
  margin-bottom: 10px;
}

#content {
  height: 400px;
  width: 100%;
}

input[type="button"] {
  float: right;
}

#buttons {
  display: block;
  float: left;
  width: 30%;
  margin-left: 10px;
}

#buttons p {
  width: 50px;
  height: 30px;
  border-radius: 5px;
  font-size: 20px;
  line-height: 1.3;
  font-family: SharpSansNo2SemiBold,Helvetica Neue,Helvetica,sans-serif!important;
  background-color: #0585CC;
  cursor: pointer;
  display: block;
  float: left;
  text-align: center;
  margin-bottom: 10px;
}

.edit-container {
  border: 1px solid #f1f1f1;
  margin-bottom: 10px;
  border-radius: 5px;
}
